
  <!-- *** NAVBAR ***
      ____________________________________________________ -->

      <div class="navbar navbar-default yamm" role="navigation" id="navbar">
          <div class="container">
              <div class="navbar-header">

                  <a class="navbar-brand home" href="#" data-animate-hover="bounce">
                      <img src="./assets/img/logo.png" alt="Obaju logo" class="hidden-xs">
                      <img src="./assets/img/logo.png" alt="Obaju logo" class="visible-xs"><span class="sr-only ml-title"></span>
                  </a>
                  <div class="navbar-buttons">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                          <span class="sr-only ml-toggle-navigation"></span>
                          <i class="fa fa-align-justify"></i>
                      </button>
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                          <span class="sr-toggle-search"></span>
                          <i class="fa fa-search"></i>
                      </button>
                      <a class="btn btn-default navbar-toggle" href="#">
                          <i class="fa fa-align-justify"></i>  3<span class="hidden-xs ml-element-product"></span>
                      </a>
                  </div>

              </div>
              <!--/.navbar-header -->

              <div class="navbar-collapse collapse" id="navigation">

                  <ul class="nav navbar-nav navbar-left">
                      <li id="nav-home"><a routerLink="/" class="ml-home"></a>
                      </li>
                      <li><a routerLink="/about" class="ml-about"></a>
                      </li>
                      <li class="dropdown yamm-fw">
                          <a href="#" class="dropdown-toggle ml-pinturas" data-toggle="dropdown" data-hover="dropdown" data-delay="200"></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <div class="yamm-content">
                                      <div class="row">
                                          <div class="col-sm-3">
                                              <h5 class="ml-products"></h5>
                                              <ul>
                                                  <li><a href="#" class="ml-especiales"></a>
                                                  </li>
                                                  <li><a href="#" class="ml-pintura-hospitalarias"></a>
                                                  </li>
                                                  <li><a href="#" class="ml-pintura-temporada"></a>
                                                  </li>
                                                  <li><a href="#" class="ml-arquitectonicas"></a>
                                                  </li>
                                                  <li><a href="#" class="ml-temporada"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-sm-3">
                                              <h5 class="ml-tools-accessories"></h5>
                                              <ul>
                                                  <li><a href="#" class="ml">Lorem ipsum</a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-sm-3">
                                              <h5 class="ml-sheets"></h5>
                                              <ul>
                                                  <li><a href="#" class="ml">Lorem ipsum</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li id="nav-contact"><a routerLink="/contact" class="ml-contact"></a>
                      </li>
                  </ul>
              </div>
              <!--/.nav-collapse -->

              <div class="navbar-buttons">

                  <div class="navbar-collapse collapse right" id="basket-overview" (click)="showCart()">
                      <a class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart" ></i>{{cartItemsCount}} <span class="hidden-sm ml-element-product"></span></a>
                  </div>
                  <!--/.nav-collapse -->
              </div>

              <div class="collapse clearfix" id="search">

                  <form class="navbar-form" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <span class="input-group-btn">

                              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                          </span>
                      </div>
                  </form>

              </div>
              <!--/.nav-collapse -->

          </div>
          <!-- /.container -->
      </div>
      <!-- /#navbar -->
<!-- fin codigo navbar-->
<div class="cart" [hidden]="!visibleCart" style="  position: fixed;position: fixed;overflow: auto;padding-bottom: 85px;">
    <button class="cart-close" (click)="closeCart()" style="margin-top: 85px;">X</button>
    <div class="cart-content" (click)="nada($event)" style="margin:4% 10%;background-color: #fff0;">

    <div class="col-md-12" id="basket">

    <div class="box">

        <form method="post" action="">

            <h1 class="ml-tittle-list"></h1>
            <p class="text-muted ml-subtittle-list"></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Producto</th>
                            <th class="ml-quantity"></th>
                            <th class="ml-price"></th>
                            <th colspan="2" class="ml-total"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of cart.items;">
                            <td>
                                <a href="#">
                                    <img [src]="getUrlPicture(product.picture)" alt="{{product.name}}" width="100">
                                </a>
                            </td>
                            <td><a href="#">{{product.name}}</a>
                            </td>
                            <td>
                                {{product.quantity|number:'1.2-2'}}
                            </td>
                            <td>${{product.price|number:'1.2-2'}}</td>
                            <td>${{(product.price * product.quantity)|number:'1.2-2'}}</td>
                            <td><a href="#" (click)="removeToCart(product)"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="ml-total"></th>
                            <th colspan="2">${{totalCart|number:'1.2-2'}}</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.table-responsive -->

            <div class="box-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default ml-clear" (click)="clearToCart()"></a>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary ml-finish" (click)="sendQuotation(cart.items)">Terminar cotización <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>

</div>

    </div>
</div>
